# Database (Neon)
DATABASE_URL=postgresql://neondb_owner:npg_cVTkPKrCR65X@ep-little-bread-ad86daul-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Cloudinary
CLOUDINARY_CLOUD_NAME=dod8ajzjd
CLOUDINARY_API_KEY=841983555962286
CLOUDINARY_API_SECRET=W1gSyjhw17u1vT5UQObDrDMmrl0

# Stripe (Test keys)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

